# Ignorar tudo
*

# Exceto estes arquivos
!.gitignore
!lab_semanas_1_2.py
!relatorio_semanas_1_2_Leonardo.md
!lab_semanas_3_4.py
!relatorio_semanas_3_4_Leonardo.md
!resultados_semanas_3_4.json
!teste.py
!relatorio_api_bola.md
!relatorio_api_bola_v1.md
!relatorio_api_bola_v2.md
!casos_ambiguos_semanas_3_4.md
!demo/
!demo/**
